* {
    text-decoration: none;
}

.justify {
    text-align: justify;
}

.reflection {
    text-shadow: 5px 5px black;
}

@media (min-width: 768px) {
    .image-container {
        width: 40vw;
    }

}


.arrow-gif {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.gif-container {
    height: fit-content;
    width: fit-content;
}

/* .help {
    overflow: scroll;
} */